.App {
  font-family: sans-serif;
  text-align: center;
  width: 800px;
  padding: 10px;
}
.app-title {
  padding: 10px;
}
.app-title-icon {
  font-size: 32px;
  line-height: 42px;
  color: rgb(0, 41, 102);
  margin-right: 10px;
}
.app-title-text {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 32px;
  line-height: 42px;
  color: rgb(0, 41, 102);
}
.main-layout {
  border-radius: 10px;
  min-height: 500px;
  padding: 20px;
}
.content-search-row {
  display: grid;
  grid-template-columns: 50% auto;
  margin-bottom: 20px;
}
.content-search-forecast {
  text-align: right;
}
.warning-text {
  margin-top: 40px;
}
.today-layout-title {
  text-align: left;
  color: rgb(114, 126, 142);
  font-size: 17px;
  font-weight: 500;
}
.today-layout-content {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-column-gap: 20px;
  padding-top: 10px;
}
.today-layout-content-part1 {
  text-align: left;
}
.today-layout-content-part1-city {
  font-weight: 600;
  color: rgb(114, 126, 142);
  font-size: 20px;
}
.today-layout-content-part1-temp {
  font-size: 112px;
  color: rgb(114, 126, 142);
  font-weight: 200;
}
.today-layout-content-part1-img {
  display: flex;
}
.today-layout-content-part2 {
  text-align: left;
}
.today-layout-content-part2-text {
  font-weight: 600;
  color: rgb(114, 126, 142);
  font-size: 20px;
}
.today-layout-content-right {
  display: grid;
  grid-template-columns: 3% 30% 30%;
  grid-column-gap: 20px;
  padding-top: 45px;
}
.today-layout-content-right-icon {
  font-weight: bold;
  text-align: left;
  color: rgb(114, 126, 142);
  font-size: 15px;
}
.today-layout-content-right-text {
  text-align: left;
  color: rgb(114, 126, 142);
  font-size: 15px;
}
.today-layout-content-right-result {
  text-align: left;
  color: rgb(53, 141, 255);
  font-size: 15px;
}

.today-layout-content-hours {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20% 20%;
  grid-column-gap: 30px;
  padding-top: 10px;
}
.today-layout-content-hours-card {
  display: flex;
  width: 120px;
  height: 100px;
  margin: 5px;
}
.today-layout-content-hours-img {
  text-align: left;
  font-size: 15px;
  display: flex;
}
.today-layout-content-hours-temp {
  margin-top: 12px;
}

.today-layout-content-weekday {
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
}
.today-layout-content-weekday-card {
  margin-left: 10px;
  width: 115px;
  height: 220px;
}
.today-layout-content-weekday-layout {
  margin-top: 20px;
}
/* .DayBtns {
  margin: 10px;
}

.RowInputStyle {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto 30%;
}
.RowInputStyle1 {
  text-align: right;
}
.RowInputStyle2 {
  text-align: left;
  padding-left: 5px;
}
.dayCardStyle {
  text-align: center;
} */
